<%-include("head")-%>
<%-include("navigaceLogin")-%>

<link rel="stylesheet" href="../public/loginStyly.css">

<div class="container">
    <h2 style="text-align: center; margin-bottom: 90px; text-decoration: solid; color: black;">Messanger</h2>
    <form style="margin-bottom: 190px;" action="/" method="post">
        <label for="username">Jméno:</label>
        <input type="text" id="username" name="jmeno">

        <label for="password">Heslo:</label>
        <input type="password" id="password" name="heslo">

        <input type="submit" value="Přihlásit se">
    </form>
</div>




<%-include("footer")-%>