<link rel="stylesheet" href="../public/navigace.css">

<header>


    <nav>
      <ul>
       <a class="nava" href="/poslatZpravu">Poslat zprávu</a>
       <a class="nava" href="/odeslaneZpravy">Odeslané zprávy</a>
       <a class="nava" href="/doruceneZpravy">Doručené zprávy</a>
      </ul>

      <a class="odhlasit" href="/"> <span style="margin-right: 20px; color: black;"> <strong><%- jmeno -%></strong> </span>  Odhlásit se</a>

    </nav>
  </header>