<link rel="stylesheet" href="../public/navigace.css">

<header>


    <nav>
      <ul>
       <a class="nava" href="/">Poslat zprávu</a>
       <a class="nava" href="/about">Mé zprávy</a>
      </ul>
      <a class="odhlasit" href="/">Odhlásit se</a>
      <a class="jmeno" href="/"><%- jmeno -%></a>
    </nav>
  </header>